<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Lulu Footware</title>

	<style>
		.dropdown{
			position:relative;
			display: inline-block;
		}
		.dropdown-content{
			display: none;
			position: absolute;
			background-color: white;
			min-width:160px;
			box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
			z-index: 1000;
			right:0;
		}
		.dropdown-content a{
			color: black;
			padding: 12px 16px;
			text-decoration: none;
			display:block;
			width:100%;
		}
		.dropdown-content a:hover{
			background-color: #f1f1f1;
		}
		.dropdown:hover .dropdown-content{
			display:block;
		}
		.header{
			position:relative;
			z-index:500
		}
		
		.logo-title {
        font-family:'Courier New', Courier, monospace;
        font-weight: 700; /* Bold weight */
        font-size: 3em; /* Large size */
        color: #000000; /* Solid black color */
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow in black */
        letter-spacing: 2px; /* Spacing between letters */
        text-transform: uppercase; /* Uppercase for emphasis */
    }
	
    .dropdown-toggle {
        position: relative;
        display: inline-block;
        text-decoration: none;
        color: #000; /* Adjust the color as needed */
    }

    .fa-shopping-cart {
        font-size: 15px; /* Adjust the icon size as needed */
    }

    .cart-count {
        position: absolute;
        top: -10px;
        right: -10px;
        background-color: red;
        color: white;
        border-radius: 50%;
        padding: 2px 6px;
        font-size: 10px; /* Adjust the font size of the count */
        font-weight: bold;
    }


	</style>
	<!-- CSS files -->
	<link rel="stylesheet" href="/css/linearicons.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/themify-icons.css">
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/owl.carousel.css">
	<link rel="stylesheet" href="/css/nice-select.css">
	<link rel="stylesheet" href="/css/nouislider.min.css">
	<link rel="stylesheet" href="/css/ion.rangeSlider.css" />
	<link rel="stylesheet" href="/css/ion.rangeSlider.skinFlat.css" />
	<link rel="stylesheet" href="/css/magnific-popup.css">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
  
</head>

<body>

	<!-- Start Header Area -->
	<header class="header_area sticky-header">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light main_box">
				<div class="container">
					<!-- <img src="/lulu-logo.webp"  -->
					<!-- alt="Lulu Footwear Logo" style="width:70px; height: auto;"> -->
					
					<h1 class="logo-title">Lulu Footwear</h1>

					<!-- Brand and toggle get grouped for better mobile display -->
					<!-- <a class="navbar-brand logo_h" href="/"><img src="img/logo.png" alt=""></a> -->
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav ml-auto">
							<li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
							<li class="nav-item"><a class="nav-link" href="/shop">Shop</a></li>
	
							<% if (user) { %>
								<!-- If user is logged in, display their name with dropdown -->
								<li class="nav-item dropdown">
									<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
										<%= user.username %>
									</a>
									<ul class="dropdown-menu">
										<li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
										<li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
									</ul>
								</li>
							<% } else { %>
								<!-- If user is not logged in, show Login and Sign Up links -->
								<li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
								<li class="nav-item"><a class="nav-link" href="/signup">Sign Up</a></li>
							<% } %>
							<li class="nav-item"><a class="nav-link" href="/cartList"><i class="fas fa-shopping-cart"></i></li>
								<!-- <span class="cart-count">4</span></a> -->
                             
							<li class="nav-item"><a class="nav-link" href="/wishlist"><i class="fas fa-heart" style="color: red; font-size: 20px;"></i></li>                                     
								

						</ul>

					</div>
					<!-- <a href="/cartlist" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
						<i class="fas fa-shopping-cart"></i>
						<span class="cart-count">4</span>
					</a> -->
				</div>
			</nav>
		</div>
	</header>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

</body>
</html>
