<%- include("../../views/partials/admin/header") %>
<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Error Page Admin</h2>
            <h6 class="content-title card-title">An error occured</h6>
            <a href="/admin" class="btn btn-primary mt-3">Go back to home</a>
        </div>
       
    </div>
</section>
<%- include("../../views/partials/admin/footer") %>
